.comment-block {
  margin-bottom: 20px;
}

.comment-block:last-child {
  margin-bottom: 0;
}

.replies-button {
  margin-top: 10px;
  background: none;
  border: none;
  padding: 0;
  color: brown;
  cursor: pointer;
}

.replies-button:hover {
  text-decoration: underline;
}

.replies-container {
  margin-left: 20px;
  margin-top: 10px;
}
