.nav-bar {
  padding: 15px;
  background: #242424;
}

.nav-bar-title a {
  color: #e8e800;
  text-decoration: none;
  font-family: monospace;
  font-size: 18px;
}

.content {
  width: 70%;
  margin: 0 auto;
}
