.news-detail-container {
  margin: 20px 0;
  display: flex;
  flex-flow: column wrap;
}

.news-title h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.news-comments {
  margin: 40px 0;
}

.detail-info {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.news-info-comments {
  display: flex;
  align-items: center;
}

.news-info-comments img {
  width: 18px;
  margin-right: 3px;
}

.news-link {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

.news-link div {
  margin-right: 5px;
}

.news-link a {
  color: #5a5a5a;
  text-decoration: none;
}

.news-link a:hover {
  text-decoration: underline;
}

.news-date {
  margin-right: 10px;
}

.back-button {
  margin: 20px 0;
}

.back-button a {
  text-decoration: none;
  color: #202020;
  font-size: 16px;
}

.update-replies {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 10px;
}

.update-replies img {
  width: 20px;
}

.news-comments-header {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 10px 0;
}

.news-comments-header h3 {
  margin: 0;
}
