.news-card {
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 2px 10px -1px rgba(34, 60, 80, 0.2);
  border-radius: 4px;
  background: #fff;
  display: flex;
  flex-flow: column wrap;
}

.news-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.news-info-left {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.news-info__date {
  font-size: 12px;
  margin-right: 10px;
}

.news-info-rating {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.news-info-rating img {
  width: 18px;
  margin-right: 3px;
}

.news-title h2 {
  margin: 0;
}

.news-title h2 a {
  text-decoration: none;
  color: #5c5c5c;
  transition: all 0.2s ease-in;
}

.news-title h2 a:hover {
  color: #202020;
}
