.news-info__author {
  margin-right: 10px;
  padding: 4px;
  border-radius: 3px;
  background: #eaeaea;
  font-size: 12px;
  font-weight: 500;
}

.btn-default {
  background: #fff;
  border: none;
  padding: 10px 40px;
  box-shadow: 0px 2px 10px -1px rgb(34 60 80 / 20%);
  border-radius: 4px;
  cursor: pointer;
}
